[submodule ".registry"]
	path = .registry
	url = https://github.com/nowosad/universe
	shallow = true
	branch = HEAD
[submodule "supercells"]
	path = supercells
	url = https://github.com/nowosad/supercells
	shallow = true
	registered = true
