[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "comat"]
	path = comat
	url = https://github.com/nowosad/comat
	shallow = true
[submodule "pollen"]
	path = pollen
	url = https://github.com/nowosad/pollen
	shallow = true
[submodule "raceland"]
	path = raceland
	url = https://github.com/nowosad/raceland
	shallow = true
[submodule "rcartocolor"]
	path = rcartocolor
	url = https://github.com/nowosad/rcartocolor
	shallow = true
[submodule "rgeopat2"]
	path = rgeopat2
	url = https://github.com/nowosad/rgeopat2
	shallow = true
[submodule "sabre"]
	path = sabre
	url = https://github.com/nowosad/sabre
	shallow = true
[submodule "spData"]
	path = spData
	url = https://github.com/nowosad/spdata
	shallow = true
